:root{
    --mein-text-cl:#757575;
    --main-title-cl:#FFFFFF;
    --title-cl:#212121;
    --link-cl:#2196F3;

    --main-text-cl:'Roboto', sans-serif;
    --title-text-cl:'Raleway', sans-serif;

    --blak-bg:#2F303A;
    --gray-bg:#F5F4FA;
    --bg:#E5E5E5;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body{   
    font-family: var(--main-text-cl);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--mein-text-cl)}

h1,
h2,
h3,
p{margin-top: 0;}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
   }

.header .container {
  display: flex;
  align-items: center;
 }

.link{
    color: var(--title-cl);
    text-decoration: none;
}

.link:hover,
.link:focus{color:var(--link-cl);}

.logo{
    font-family: var(--title-text-cl);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    }

.logo-marg{
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo-header {color:var(--link-cl);}

.list {
    margin: 0;
    padding-left: 0;
    list-style: none;}

.menu {display: inline-flex;}

.menu-item:not(:last-child) {
  margin-right: 50px;
}
.address{font-style:inherit;}

.text-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--title-cl) ;}

.accent-pege{color: var(--link-cl);}

.contacts{
    color: var(--title-cl);}

.contacts-marg{
    margin-left: auto;
}
.mail-marg{margin-right: 50px;}

.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--main-title-cl);
    background-color:var(--blak-bg);
}

.btn{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color:var(--main-title-cl);
    background-color:var(--link-cl);

}

.team{background-color: var(--gray-bg);}
.team-work{background-color: var(--bg);}

.title-section{
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-cl);
}

.item {
  margin-left: 30px;
  margin-top: 30px;}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.feature-item{
    flex-basis: calc((100% - 4 * 30px) / 4);
    text-align: left;  
}

.work-item {
    flex-basis: calc((100% - 3 * 30px) / 3);
}

.team-item {
    flex-basis: calc((100% - 4 * 30px) / 4);
    text-align: center;
}

.title-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-transform: uppercase;
    color:var(--title-cl);
   }

   .text-team-card{
        font-size: 16px;
        line-height: 1.18;
    }

   .footer{background-color: var(--blak-bg);}

   .Studio-cl{color:var(--main-title-cl)}

   .address-street{color: var(--main-title-cl)}

  
   .contacts-addres{color: rgba(255, 255, 255, 0.6);}

   .btn-filtr{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        color:var(--title-cl)    
   }

   .btn-filtr:hover,
   .btn-filtr:focus{
       color: var(--main-title-cl);
       background-color: var(--link-cl);
       cursor: pointer;
   }

   .title-portfolio{
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--title-cl);
   }



   .text-portfolio{
        font-size: 16px;
        line-height: 1.87;
     }